<div class="footer">
    <div class="opcion">
        <h3 class="title">ElectronicArt</h3>
        <p>El mejor equipo de computo para uso personal</p>
    </div>
    <div class="opcion">
        <h3 class="title">ENLACES RAPIDOS</h3>
       <p>Inicio</p>
       <p>Products</p>
       <p>Nosotros</p>
    </div>
    <div class="opcion">
        <h3 class="title">CONTÁCTANOS</h3>
        <p>contactos&#64;electronicart.com</p>
        <p>+52 464 363 337</p>
        <p>Aguascalientes, MX.</p>
    </div>
</div>
<div class="footer-cierre">
    <br>
    <a>
        © 2025 ElectronicArt. Todos los derechos reservados.
    </a>
</div>



