<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#MainNavbar" aria-controls="MainNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="MainNavbar" aria-labelledby="NavbarLabel">
      <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="NavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
              <li><i style="font-size:48px;margin-right: 20px;"class="fas fa-th"></i></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>

          </div>

       </div>

  </div>
</nav>

<div style="text-align:end;padding: 10px;">
  <i style="font-size:38px; margin-right: 20px;" class="fas fa-th"></i>
  <i style="font-size:38px; margin-right: 20px;" class="fas fa-list"></i>
</div>

<hr>

<div style="width: 60%; margin: 0 auto;">
<div class="card-group">
  <div class="row">
  @for( p of products; track p  ){


  <div class="card col-md-3 mb-3"> <!--si despues del md pones el numero 12 te mostrara en la vista 1 producto si pones 3 te mostrara 4-->

    <img [src]="p.img" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{p.name}}</h5>
      <p class="card-text">{{p.description}}</p>
      <p class="card-text"><small class="text-body-secondary">${{p.price}}</small></p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>
  }
</div>
</div>